#secret-button{
  margin: 20px 10px;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

#secret-button:active,
#secret-button:focus,
#secret-button.active{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#secret-p{
  margin: auto 10px;
  display: none;
}
